* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #121212;
  --surface-color: #1f1f1f;
  --accent-color: #4dabf7;
  --add-accent-color: #82caff;
  --alert-color: #f54242;
  --text-color: #ffffff;
  --text-muted: #b0b0b0;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(14px, 2vw, 18px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-bottom: 4rem;
}

.input-div {
  display: flex;
  width: min(80%, 500px);
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
}

.input {
  margin: 2rem 0 1rem 0;
  width: min(70%, 350px);
  padding: 0.3rem;
  background: var(--surface-color);
  color: var(--add-accent-color);
  outline: none;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid var(--add-accent-color);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  box-shadow: inset 0 0 5px var(--add-accent-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  width: min(30%, 300px);
  min-width: 100px;
  padding: 0.3rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--add-accent-color);
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--surface-color);
  transition: background-color 0.3s ease;
  margin-bottom: 1.5rem;
}

.button:hover {
  background-color: var(--surface-color);
  color: var(--accent-color);
}

.hidden {
  display: none;
}

.output {
  display: flex;
  width: min(80%, 500px);
  font-size: 1.25rem;
  color: var(--add-accent-color);
  height: auto;
}
